html, body {
    font-size: 16px ;
}

p {
    font-size: 16px ;
    font-family: 'Quattrocento', Georgia, “Times New Roman” serif;
    font-weight: 400;
    line-height: 1.4em;
}

h1, h2 {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}

h1 {
    font-size: 3.052em;
    font-weight: 700;
    word-spacing: .5em;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    
}

h2 {
    font-size: 2.441em;
    font-weight: 500;
    word-spacing: .2em;
    margin: 0;
    text-align: left;
    padding-top: 15px;
}

address {
    font-style:  'Quattrocento', Georgia, “Times New Roman” serif;
    text-align: center;
}

address a {
    font-weight: bold;
    font-size: 1.25em;
    color: #4F3674;
    text-decoration: none;
}

address a:hover {
    text-decoration: underline;
    color: #d6a800;
}

address a:visited {
    color: black;
}

.sentence {
    font-style: italic;
}

.intro {
    text-indent: .2em;
}